@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	background-color: #090d15;
	font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: 'InterVariable', sans-serif;
		font-optical-sizing: auto;
	}
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	border-radius: 9999px;
}

::-webkit-scrollbar-track {
	background: #10182b;
}

::-webkit-scrollbar-thumb {
	background: #8aa1a8bf;
}

::-webkit-scrollbar-thumb:hover {
	background: #8aa1a8ff;
}
